*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  /* background: url('https://static.vecteezy.com/system/resources/previews/001/589/630/original/green-background-with-fading-square-and-dots-free-vector.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-position: center; */
  margin: 0;
  padding: 0;
}

.img{
  font-size:50px;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-log{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 20px;
  height: 100vh;
}

.main-login{
  overflow: hidden;
  height: 100%;
  padding: 20px;
}
.box-sub-log{
  background-color: rgb(243, 241, 239);
  box-shadow: 0 10 10px black;
  padding: 20px;
  border-radius: 20px;
}.box-sub-log div{
  margin: 5px;
  padding: 0px;
  font-size: 30px;
}
.box-sub-log .btn-9{
  font-size: 20px;
  padding: 10px;
  width: 50%;
}